.hmsx{
    border-bottom: solid 2px rgb(255, 209, 149);
    height: 13vw;
    background-color: white;
    line-height: 13vw;
    padding-left: 20px;
    
    position: relative;
	font-size:4.5vw;
}
.searchbar{
    width: 93%;
    margin: 0 auto;
}
.hmsx>img{
    position: absolute;
    right: 20px;
	top: 5vw;
	width:18px;
}
.numbers{
    /*border: solid 1px red;*/
    height: 300px;
    padding: 15px;
    background-color: white;
}
.numbers>.s-type{
    
    height: 100px;
    margin:0;
    
    
    
}

.s-type>.col-20{
	
	
}
.s-type>.col-20>button{
	width:90%;
	height:90%;
	display:block;
	margin:0 auto;
	border:none;
	background-color:rgb(241,241,241);
	border-radius:5px;
	
	color:rgb(111,111,111);
	font-size:4.5vw;
}
.s-type>.col-20>button.act{
	background-color:rgb(255,144,0);
	color:white;
}
.row.s-type.no-gutter .col-20 {
    width: 20%;
	
	height:11vw;
}
.option{
    /*border: solid 1px red;*/
    height: 100px;
    width: 100%;
}
.option td{
    height: 50px;
    /*padding: 5px;*/
}
.hengxian{
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: rgb(77,77,77);
    position: relative;
    top: 20px;
}
.option input{
    width: 25vw;
    height: 10vw;
    border-radius: 5px;
    border: none;
	font-size:4.5vw;
	
	background-color: rgb(241,241,241);
	text-align:center;
}
.rongqi{
    display: -webkit-flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 5px;
}
.option input.baohan{
    width: 40vw;
}
.numbers>button{
    width: 35vw;
    height: 40px;
	color:white;
	border-radius:4px;
	border: none;
	margin-top:20px;
	font-size:5vw;
}
.searchbar .search-input input {
    border: none;
    border-radius: 20px;
}
.queding{
	float:right;
	background-color:rgb(255,144,0);
}
.chongzhi{
	background-color:rgb(74,74,74);
	
}
.price{
	font-size:4.7vw;
	color:rgb(81,81,81);
}
.zhezhao{
	height:calc(100% - 2.2rem - 13vw);
	display:none;
	background-color:rgba(40,40,40,0.7);
	position:absolute;
	z-index: 10;
}
.title{
	background-color:white;
	font-weight:bold;
}
a{
	color:rgb(255,144,0);
}
header>img{
	width:25px;
}
header>img:nth-child(2){
	margin-left:10px;
}
.list-block {
    margin:0;
    
}
.list-group li{
	border-bottom:solid 1px gray;
	height: 12vw;
	line-height:12vw;
	padding:0 4vw;
}
.money{
	color:red;
}
.xuanhao{
	padding-left:10px;
	height:20vw;
}
.haoma{
	width:65%;
	height:100%;
	
	display:inline-block;
	vertical-align:middle;
	font-size:4vw;
	line-height:10vw;
}
.haoma>div{
	height:50%;
	
}
.num-ed>span{
	font-size:5vw;
	font-weight:bold;
}
.xuanhao>button{
	margin-left:4vw;
	width: 25vw;
    height: 10vw;
    background-color: rgb(255,144,0);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}




















